#signin {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 20px 5%;
    /* display: none; */
}

#signin form {
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px;
    gap: 20px;
}

#signin form input {
    height: 45px;
    border-radius: 10px;
    border: 1px solid #eaeeea;
    background-color: #f5f5f5;
    outline: none;
    padding: 10px;
    transition: .5s;

}

#signin form input:focus {
    border-color: dodgerblue;
    caret-color: dodgerblue;
}

#signin form label {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#signin  form button {
    background-color: dodgerblue;
    color:  white;
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: .5s;

}

#signin  form button:hover {
    border: 1px dashed dodgerblue;
    background-color: white;
    color: dodgerblue;

}

#sign form button:disabled {
    background-color: #adcff1;
}